.button-control {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
}

.button-approve {
    background: #6eb44c;
    color: white;
}