.chat-container {
    width: 100%;
    background: lightslategray;
}

.chat-main {
    height: 500px;
}

.chat-header {
    color: white;
}

h2 {
    padding: 0;
    margin: 0;
}

.chat-header-container {
    background: black;
    width: 100%;
    height: 8%;
    padding: 5px;
}

.chat-messages {
    background: whitesmoke;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px; 
    height: 76%;
}

.chat-sending {
    height: 10%;
    background: lavender;
    display: flex;
    justify-content: space-around;
}

.chat-send {
    background: rgb(9, 189, 9);
    border: 1px solid rgb(9, 189, 9);
}

.chat-input {
    width: 70%;
    border-radius: 10px;
    height: 30px;
    border: 1px white solid;
    outline: none;
    margin-top: 7px;
}

.chat-buttons {
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    color: white;
    width: 13%;
    font-size: 20px;
    height: 80%;
}

.chat-delete-all {
    background: rgb(211, 9, 9);
    border: 1px solid rgb(211, 9, 9);
}
