.container-item {
    display: flex;
    border-bottom: 2px dotted lightgray;
    width: 97%;
    margin: 10px auto;
}

.item-check {
    width: 25px;
    height: 25px;
}

.item-text {
    width: 90%;
}

.content-update-item {
    display: flex;
}

.done-item {
    width: 2%;
}

.like-icon {
    color: rgb(126, 204, 10) !important;
}
