.todo-input-container {
    height: 40px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
    padding: 5px;
}

.todo-input {
    outline: none;
    height: 80%;
    border: none;
}

.input-new-value {
    outline: none;
}

.add-task-button {
    width: 150px;
    height: 30px;
    background: #72b14c;
    color: white;
    border: 1px #72b14c solid;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
